<div class="header-container">
  <div class="header-title">
    <h1>{{ headerText | translate }}</h1>
  </div>

  <div class="header-details">
    <div class="language-switcher">
      <button (click)="translationService.currentLanguage == 'en' ?
      translationService.switchLanguage('ge') :
      translationService.switchLanguage('en')">
        {{translationService.currentLanguage == 'en' ? '🇬🇪 GE' : "🇬🇧 EN"}}
      </button>
    </div>

    <div class="contact-info">
      <h4>{{"CONTACT_US" | translate}}: {{contactDataService.getEmailAddress()}}</h4>
      <h4>{{"PHONE" | translate}}: {{contactDataService.getNumber()}}</h4>
    </div>
  </div>
</div>
