<div class="detail-view">
  <div class="detail-container" *ngIf="car">
    <button class="close-button" (click)="onClose()">✕</button>

    <div class="main-image">
      <h1>{{car.name}}</h1>
      <img [src]="selectedImage" alt="Selected car" />
    </div>

    <div class="thumbnail-flex">
      <div
        class="thumbnail"
        [class.active]="selectedImage === car.thumbnail"
        (click)="selectImage(car.thumbnail)"
      >
        <img [src]="car.thumbnail" alt="Thumbnail" />
      </div>
      <div
        *ngFor="let detail of car.details"
        class="thumbnail"
        [class.active]="selectedImage === detail"
        (click)="selectImage(detail)"
      >
        <img [src]="detail" [alt]="'Detail'" />
      </div>
    </div>
  </div>
</div>
