.camping-attributes-container {
  margin: 1rem 0 3rem;
  padding: 20px;
  position: relative;
  //background-color: white;
  color: black;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .camping-attributes-title {
    h2 {
      margin-bottom: 1.5rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
