.details-container {
  margin: 3rem 3rem 1rem;
  padding: 20px;
  position: relative;
  //background-color: white;
  color: black;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
