:host {
  --green: green;
  --white: oklch(100.00 0.00 0.00);
  --background: oklch(94.79% 0 0);
  --hover: oklch(92.56% 0 0);
  --active: #007bff;
  --gray: gray;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;

  button {
    background-color: var(--green);
    border: none;
    color: var(--white);
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
  }
}
