* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #F5F5F8;

  body {
    font-family: Arial, sans-serif;
    background-color: var(--site-background);

    img {
      display: block;
      max-width: 100%;
    }
  }
}
