.single-element {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  overflow: hidden;

  .image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  &:hover {
    opacity: 0.9;
  }

  p {
    margin: 1rem 1rem 0;
    background-color: white;
  }

  .spacing {
    height: 1rem;
    flex-shrink: 0;
  }
}

:host-context(.image-grid) .single-element {
  height: 100%;
}
