.single-element {
  transition: opacity 0.3s ease;
  aspect-ratio: 16 / 9;
  border: 1px solid var(--gray);
  border-radius: 8px;
  cursor: pointer;

  img {
    border-radius: 8px 8px 0 0;
  }

  &:hover {
    opacity: 0.9;
  }

  p {
    margin: 1rem;
  }
}
